@charset "utf-8";
#top{height: 450px;width: 1920px;background-image: url("../images/10_dental/headerpic.png");flex-wrap: wrap;justify-content: center;}
#top > h2{display: flex;font-size: 65px;font-weight: 500;justify-content: center;margin: 110px auto 0;color: #fff;}
#top > p{font-size: 20px; font-weight: 300;color: #fff;display: flex; flex-wrap: wrap;justify-content: center;margin-bottom: 100px;}
.breadcrumbs{color: #fff;text-align: center;display: flex; flex-wrap: wrap;justify-content: center;margin-top: 50px;}
#top ul li{height: 54px;background: #bd4848;border-radius: 11px;font-size: 25px;line-height: 54px; max-width: 226px; 
 flex-grow: 1;}
#top ul li + li{margin-left: 50px;}
/* #top  > ul  > li{position: relative;} */
#top ul li:first-child a{padding-left: 25px;}
#top ul li{position: relative;}
#top ul li:first-child a::after{content: "";background: url("../images/10_dental/Iconhome.png") no-repeat;width: 24px;height: 20px;position: absolute;top: 15px;left: 10px;}
#top ul li:nth-child(2) a::after{content: "";background: url("../images/10_dental/arrow-forward_white.png") no-repeat;width: 24px;height: 20px;position: absolute;top: 17px;left: -30px;}
#top ul li:nth-child(3) a::after{content: "";background: url("../images/10_dental/arrow-forward_white.png") no-repeat;width: 24px;height: 20px;position: absolute;top: 17px;left: -30px;}

#start strong{font-size: 35px;margin: 82px auto 50px;display: block;text-align: center;}
#start > p{font-size: 25px; font-weight: 300;width: 1155px; height: 100px;margin-bottom: 82px;}
#start ul li + li{margin-left: 100px;}
#start > ul > li > a{position: absolute;background: no-repeat;}
#start ul li:nth-child(1) a:hover img, #start ul li:nth-child(2) a:hover img, #start > ul > li:nth-child(3) > a:hover > img, #start > ul > li:nth-child(4) > a:hover > img{opacity: 0;}
#start > ul > li:nth-child(1) > a{background: url("../images/10_dental/goal1R.png") no-repeat;}
#start > ul > li:nth-child(2) > a{background: url("../images/10_dental/curriculum2R.png") no-repeat;}
#start > ul > li:nth-child(3) > a{background: url("../images/10_dental/prof3R.png") no-repeat;}
#start > ul > li:nth-child(4) > a{background: url("../images/10_dental/notice4R.png") no-repeat;}
.shortcut > li{height: 100px;}
.shortcutul{display: flex; flex-wrap: wrap;justify-content: center;gap: 5%;row-gap: 20px;}
.shortcut{flex-basis: 100px;max-width: 136px;  flex-grow: 1;display: inline-block;}

h4.sub_tit{margin: 240px 0 53px 0;font-size: 33px;font-weight: 500;position: relative; height: 46px;padding-left: 33px;display: block;width: 100%;}
h4.sub_tit::after{content: "";position: absolute;background: url("../images/10_dental/reddot.png");width: 22px;height: 22px;top: 12px;left: 0;}

#goal{width: 984px;height: 713px;background: url("../images/10_dental/gridlayout.png") no-repeat;position: relative;text-align: center;margin: 0 auto;}
#goal .goaltxt{font-size: 16px;line-height: 23px;text-align: center;position: absolute;display: block;}
#goal li p{width: 282px; height: 152px;}
#goal li{float: left;}
#goal1{top: 29px;left: 35px;margin-top: 30px;}
#goal2{top: 524px;left: 35px;margin-top: 55px;}
#goal li + li{margin-left: 32px;}
#goal #goal2 + strong{position: absolute;width: 539px; height: 164px;top: 263px;left: 213px;font-size: 20px;line-height: 2.25;font-weight: 400;}
#goal strong{width: 215px;  height: 60px;display: inline-block;position: absolute;line-height: 60px;font-size: 18px;}
#goal > strong:nth-child(1){top: 212px;left: 35px;}
#goal > strong:nth-child(3){top: 428px; left: 733px;}

#curriculum .column{width: 575px;height: 377px;line-height: 26px;float: left;padding-left: 20px;position: relative;margin-bottom: 70px;margin-right: 45px;}
#curriculum .column::after{content: "";position: absolute;width: 7px;height: 100%;background-color: #e9c7a4;top: 0;left: 0;}
#curriculum .column .txtbox strong{font-size: 22px;height: 66px;display: inline-block;padding: 7px 0 0 5px;width: 100%;}
#curriculum #column1 .txtbox:nth-child(1) strong{background: url("../images/10_dental/oneside1.png") no-repeat;}
#curriculum #column1 .txtbox:nth-child(2) strong{background: url("../images/10_dental/oneside3.png")no-repeat;}
#curriculum #column2 .txtbox:nth-child(1) strong{background: url("../images/10_dental/oneside2.png")no-repeat;}
#curriculum #column2 .txtbox:nth-child(2) strong{background: url("../images/10_dental/oneside4.png")no-repeat;}
#curriculum #column1 .txtbox:nth-child(2){margin-top: 23px;}
#curriculum #column1 .txtbox:nth-child(1), #curriculum #column2 .txtbox:nth-child(1){margin-bottom: 18px;}
#curriculum .column .txtbox strong + p{font-size: 16px;margin-top: 5px;}

#process{clear: both;text-align: center;width: 100%;}
#process caption{font-size: 0;line-height: 0;}
#process td{border-left: 1px solid #73615B;border-bottom: 1px solid #73615B;}
#process th{border-bottom: 1px solid #73615B;background-color: #e9c7a4;}
#process th + th{border-left: 1px solid #73615B;}
#process th, #process td{padding: 30px;}
.wid196{width: 196px;}
.wid300{width: 300px;}
.wid388{width: 388px;}
.wid396{width: 396px;}
 
#tooth{margin-bottom: 50px;width: 100%;height: 735px;display: flex;justify-content: center;}
.toothprof{width: 404px;height: 495px;text-align: center;background: url("../images/10_dental/tooth.png");position: relative;margin-right: 10px}
.toothprof > *{position: absolute;}
.toothprof img{width: 197px;height: 197px;top: 70px;left: 86.3px;}
.toothprof strong{font-size: 27px;font-weight: 500;top: 280px;left: 159.6px;}
.toothprof p{font-size: 20px;font-weight: 300;top: 320px;left: 86.6px;}
.toothprof > a{width: 92px;height: 27px;background: #BD4848;color: #fff;box-sizing: border-box;border-radius: 5px;top: 370px;left: 152.9px;padding-right: 15px;line-height: 27px;}
.toothprof > a::after{content: "";background: url("../images/10_dental/arrow-forward_white.png") no-repeat; width: 10px; height: 17px;position: absolute;top:4.5px;left: 66px;}
#tooth1 , #tooth2, #tooth3{position: relative;text-align: center;}
.toothshadow{display: none;background: url("../images/10_dental/toothshadow.png") no-repeat;width: 400px;height: 300px;position: absolute;top: 480px;z-index: -1;}
.toothshadow > p{position: absolute;padding: 20px;background-color: #fff;width: 180px;height: 80px;left: 87px;top: 84px;line-height: 26px;border-radius: 10px;}

#news a{float: left;}

#news a img{border: 1px solid #000;}
#news a{position: relative;}
#news a + a{margin-left: 10px;}
#news > a:first-child img{width: 494px;height: 494px;}
#news a p{font-size: 27px;position: absolute;background: rgba(0, 0, 0, 0.788);color: #fff;left: 0;bottom: 0;width: 100%;height: 100px;line-height: 100px;opacity: 0;}
#news a:hover p, #news a:focus p{opacity: 1;}



