@charset "utf-8";
/* #header */
#wrap{margin: 0 70px;}
#header{position: fixed; top: 0; left: 0; background: #bd4848; width: 100%;  height: 80px; padding: 0 70px; box-sizing: border-box; z-index: 100;}
#header.active::before{content: ''; position: absolute; background: #e9c7a4; top: 80px; left: 0; width: 100%; height: 49px;}
#header > div:first-child{max-width: 1763px; margin: 0 auto; border-bottom: 1px solid #999;}
#header .logo a{position: fixed; top: 5px; left: 70px; width: 290px; height: 70px; vertical-align: middle; background: url("../images/01_common/kgr_logo_long_white.png") no-repeat left center; background-size: contain; z-index: 120;}
#header .search a{position: fixed; top: 25px; right: 70px; width: 30px; height: 30px; background: url("../images/01_common/이훈_icon/search_white.png") no-repeat right top; background-size: cover; z-index: 120;}

/* #gnb */
#gnb{text-align: center;}
#gnb>ul>li{display: inline-block; position: relative;}
#gnb>ul>li+li{margin-left: 30px;}
#gnb ul li a{display: block;}
#gnb>ul>li>a{height: 78px; line-height: 78px;font-size: 20px; color: #fff; border-bottom: 3px solid transparent; font-weight: 400;}
#gnb>ul>li:hover>a,#gnb>ul>li>a:focus,#gnb>ul>li.on>a{color: #e9c7a4; border-bottom-color: #fff; font-weight: 600;}
#gnb ul li ul{width: 800px; height: 49px; line-height: 49px; position: absolute; top: 80px; left: 0; text-align: left; padding-top: 1px;}
#gnb ul li ul li{float: left; margin-right: 20px;}
#gnb ul li ul li a{font-size: 16px; color: #000;}
#gnb ul li ul li:hover a,#gnb ul li ul li a:focus{color: #bd4848; font-weight: 500;}

/* 본문 상단 타이틀 */
.white{color: #fff;}
.dark{color: #3d3e41;}

.title_bg{height: 448px;background: no-repeat center top; text-align: center;}
.major{background-image: url("../images/10_dental/title_bg.jpg");}
.notice{background-image: url("../images/09_notice/title_bg.jpg");}
.festival{background-image: url("../images/09_notice/title_bg.jpg");}
.info{background-image: url("../images/03_president/visualBg.png");}
.festival{background-image: url("../images/06_festival/sub/fest_01.jpg")}

.title_bg h2{padding:172px 0 82px; font-size: 72px;}
/* 학과소개만 변경됨 */
.major.title_bg h2{padding-bottom: 0;}
.major.title_bg h2 + p{font-size: 20px;line-height: 1;font-weight: 300;margin-bottom: 62px;}

.breadcrumb ol{justify-content: center;}
.breadcrumb ol li{font-size: 18px; width: 226px; height: 40px; line-height: 40px; border-radius: 11px; background: #bd4848; }
.breadcrumb ol li + li{position: relative; margin-left: 52px; }
.breadcrumb ol li + li::after{content: ""; position: absolute; top: 0;left: -35px; width: 18px; height: 100%; background: url("../images/01_common/sprite2.png") no-repeat;}
.title_bg.white .breadcrumb ol li + li::after{background-position:-500px -500px;}
.title_bg.dark .breadcrumb ol li + li::after{background-position:-600px -500px;}

/* sub 상세본문 */
.inner{width: 1280px;}
.m80{margin: 80px auto;}